*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');
@font-face {
    font-family: 'Neo Sans Pro';
    src: url(/fonts/fonts.css);
}
div {
    font-family: 'Neo Sans Pro';
    font-weight: bold;
  }
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
}
.selector-for-some-widget {
    box-sizing: content-box;
  }
.main12{
    display: flex;
}
.newchapka{
    display: flex;
}
.vkandinst{
   display: flex;
   align-items: center;
   margin-left: 5rem;
}
.inn{
    margin-left: 1rem;
}
.vnnn{
    margin-left: 4rem;
}


.newlogo{
 display: flex;
    background-color: #131313;
}
.mainlg{
    background: #131313;
    display: flex;
    align-items: center;
}
.mainimg{
    display: flex;
    align-items: center;
}
.mvprprp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.mbat{
    display: flex;
}


.companyqws{
    display: flex;
}

.col-icons {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.navbar-nav{
    display: flex;
    gap: 5rem;
}
.first{
      background: #131313;
    display: flex;
    flex-direction: column;
}
.reklama{
    color: #EAEAEA;
    text-decoration: none;
}
.voznikli{
    text-decoration: none;
    color: #EAEAEA;
}
.voznikli1{
    color: yellow;
}
.bloktxt{
    padding-top: 2rem;
    margin-left: 6rem;
}

.navbar  {
    background: #0D0D0D;
}

 /* что это значит узнать */
.navbar-nav > li {
    display: inline-block;
    float:none;
}

.reklam{
    text-decoration: none;
    color: #EAEAEA;

}



.mainblock{
    margin-top: 0px;
    background: #000000;
}


.imenno{
    font-family: 'Neo Sans Pro';
    font-style: normal;
    display: flex;
    color: #EAEAEA;
    font-size: 48px;
    flex-direction: column;
    background: #000000;
}
.imenno1{
    font-family: 'Neo Sans Pro';
    font-style: normal;
    display: flex;
    color: #EAEAEA;
    font-size: 48px;
    flex-direction: row;
    background: #000000;
    justify-content: flex-start;
    margin-top: 5rem;
}

.pochemymi{
    background: #000000;
    width: 100%;
}

.lelev {
    background: #232323;
    border: 1px;
    border-radius: 5px;
    padding: 1rem;
}
.nemainblock{
    background: #000000;
}
.obnas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.obnasmain{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;
    margin-top: 3rem;
    justify-content: center;
}

.blockmain{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #EAEAEA;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    max-width: none;
    flex-basis: 29%;
}




.nashi{
    font-family: 'Neo Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #EAEAEA;
    background: #131313;
    padding-left: 400px;

}

.mains{
    display: flex;
    background: #131313;
    height: 700px;
    padding-left: 16rem ;
}


.maklienti{
position: absolute;
font-family: 'Neo Sans Pro';
font-style: normal;
display: flex;
align-items: center;
color: #EAEAEA;
font-size: 48px;
background: #1F1F1F;
}

.card{
    display: flex;
    background: #232323;
    text-decoration: none;
}

.card-link{
    text-decoration: none;
}

.card-footer:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
    display: flex;
    text-decoration: none;
}

.theekarti{
    display: flex;
    flex-wrap: wrap;
    column-gap: rem;
    row-gap: 3rem;
    margin-top: 6rem;
    justify-content: center;
    
}



.card-body{
    background-color: #232323 ;
    text-decoration: none;
}
.card-title{
    color: #EAEAEA;
}
.card-text{
    color: #EAEAEA;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: center;
}







.formmavvoda{
   display: flex;
    margin-top: 5rem;
    background: #232323;
    justify-content: center;
    
}

.conteiner-bg{
    background: #232323;
}
.button1 {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 7px 65px;
    border-radius: 5px;
    background: #FFED00; 
    text-decoration: none;
    font-family: 'Neo Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #1F1F1F;
    margin-top: 1.98rem;
}

.contakt{
    text-decoration: none;
    color: #8D8D8D;
}

.zaddat{
    size: 24px;
    text-decoration: none;
    color: #EAEAEA;
}

.osnova{
    color: #EAEAEA;
    align-items: center;
}

.povd{
    width: 143%;
    background: #000000;
}

.karta{
    margin-top: 6rem;
margin-left: 12rem;
}
.list-unstyled{
    margin-left: 5rem;
}
.fomras{
  background: #232323;  
}

.futrrr{
    margin-top: 5rem;
    display: flex;
}
.textonpcit{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.mtxt{
    display: flex;
    text-decoration: none;
}

.mokni{
    display: flex;
}

.bslvl{
    text-decoration: none;
    color: #EAEAEA;
    display: flex;
    row-gap: 1rem;
}
.bslvl1{
    margin-left: 1rem;
    text-decoration: none;
    color: #EAEAEA;
    row-gap: 1rem;
}

@media screen and (max-width: 500px) {
    .obnasmain {
      flex-direction: row;
      width: 100%;
    }
  }